<div class="header-container">
    <!-- Navbar -->
    <nav class="nav">
        <div class="nav-left">Left</div>
        <div class="nav-right">Right</div>
    </nav>
    <!-- Main Header -->
    <header>
        <h1 class="page-title elegantshadow">Ann's Admin</h1>
    </header>
    <main>
</div>
<div class="admin-form-container">
    {{!-- <form action="/recipe" method="post" class="input-form">
        <input class="recipe-input" type="text" name="title" placeholder="title">
        <input class="recipe-input" type="text" name="style" placeholder="style">
        <input class="recipe-input" type="text" name="time" placeholder="time">
        <input class="recipe-input" type="text" name="ingredients-one">
        <input class="recipe-input" type="text" name="ingredients-two">
        <input class="recipe-input" type="text" name="ingredients-two">
        <input class="recipe-input" type="text" name="ingredients-three">
        <input class="recipe-input" type="text" name="step-one">
        <input class="recipe-input" type="text" name="step-two">
        <input class="recipe-input" type="text" name="step-three">
    </form> --}}
    <form action="/recipe" method="post" class="admin-form ui form">
        <div class="field">
            <label>Title</label>
            <input type="text" name="first-name" placeholder="Recipe Name">
        </div>
        <div class="field">
            <label>Style</label>
            <input type="text" name="last-name" placeholder="Last Name">
        </div>
        <h4>Ingredients</h4>
        <div class="ui button" id="add-button">+</i></div>
        <div class="field" id="ingredient-inputs">
            <label>Style</label>
            <input type="text" name="last-name" placeholder="Last Name">
        </div>
        <button class="ui button admin-button" type="submit">Submit</button>
    </form>
<script src="js/admin.js"></script>
</div>