<div class="header-container">
    <!-- Navbar -->
    <nav class="nav">
        <div class="nav-left">Left</div>
        <div class="nav-right">Right</div>
    </nav>
    <!-- Main Header -->
    <header>
        <h1 class="page-title elegantshadow">Ann's Admin</h1>
    </header>
    <main>
</div>