<div class="main-container">
        <div class="header-container">
            <!-- Navbar -->
            <nav class="nav">
                <div class="nav-left">Left</div>
                <div class="nav-right">Right</div>
            </nav>
            <!-- Main Header -->
            <header>
                <h1 class="page-title elegantshadow">Ann's Pans</h1>
            </header>
            <!-- Main Section (2 Column) -->
            <main>
                <!-- Left-column -->
                <div class="left-column">
                    <div class="recipe-container">
                        <h2>Recipes</h2>
                        <h3><a href="/recipe">test</a></h3>
                        <h3>test</h3><h3>test</h3><h3>test</h3><h3>test</h3><h3>test</h3><h3>test</h3><h3>test</h3><h3>test</h3><h3>test</h3><h3>test</h3><h3>test</h3>
                    </div>
                </div>
                <!-- Center-column -->
                <div class="center-column">
                    <form>
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input class="search-bar fa-solid fa-magnifying-glass" type="text" name="search">
                    </form>
                    <!-- Featured Recipe/recipe of the day -->
                    <div class="main-card">
                        <img src="https://images.pexels.com/photos/3535383/pexels-photo-3535383.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="cooked-steak" class="main-recipe-photo">
                    </div>    
                </div>
                {{!-- Right Column --}}
                <div class="right-column">
                    <div class="info-container">
                        <img src="https://www.tamus.edu/academic/wp-content/uploads/sites/24/2021/04/360_F_233462402_Fx1yke4ng4GA8TJikJZoiATrkncvW6Ib.jpg" alt="placeholder" class="mom-photo">
                        <!-- text -->

                    </div>
                </div>
            </main>

        </div>
    </div>

    <script src="js/script.js"></script>