<style>
    :root {
    --orange: #fd8207;
    --grey: #eceae7;
    --beige: #CAB59b;
    --black: #0d0b08;
    --rust: #c35d13;
    --cream: #D3Ae5C;
    --light-white-background: #f4f2ef;
    --bubble-border: grey;
 }

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: var(--grey);
}

.recipe-header {
    height: 200px;
    background-color: var(--rust);
    text-align: center;
}

.recipe-name {
    padding: 75px;
    color: #D3Ae5C;
    font-size: 300%;
    font-family: 'Fascinate', cursive;
}

.recipe-main {
    background-color: var(--grey);
    height: 80vh;
    width: 100%;
}
</style>

<header class="recipe-header">
    <h1 class="recipe-name">{{recipe.title}}</h1>
</header>
<main class="recipe-main">

</main>