:root {
   --orange: #fd8207;
   --grey: #eceae7;
   --beige: #CAB59b;
   --black: #0d0b08;
   --rust: #c35d13;
   --cream: #D3Ae5C;
   --light-white-background: #f4f2ef;
   --bubble-border: grey;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: var(--grey);
    font-family: 'Fascinate', cursive !important;
}

.main-container {
    /* height: 100vh; */
    /* width: 100vw; */
    background-color: var(--grey);
    height: fit-content;
}

.nav {
    height: 65px;
    display: flex;
    background-color: var(--rust);
}

.nav-left {
    flex: 1;
    padding-left: 30px;
    cursor: pointer;
    background-color: var(--rust);
    box-shadow: 0px 8px 5px var(--beige);
}

.nav-right {
    flex: 1;
    text-align: right;
    padding-right: 30px;
    cursor: pointer;
    background-color: var(--rust);
    box-shadow: 0px 8px 5px var(--beige);
}

.header-container {
    height: 250px;
    width: 100%;
    background-color: var(--rust);
    font-family: 'Fascinate', cursive;
    border-radius: 0 0 15px 15px;
    box-shadow: 0px 8px 5px var(--beige);
}

.page-title {
    text-align: center;
    font-size: 85px;
    color: var(--black);
}

.elegantshadow {
        color: #131313;
        background-color: #e7e5e4;
        letter-spacing: .15em;
        text-shadow: 
          1px -1px 0 #767676, 
          -1px 2px 1px #737272, 
          -2px 4px 1px #767474, 
          -3px 6px 1px #787777, 
          -4px 8px 1px #7b7a7a, 
          -5px 10px 1px #7f7d7d, 
          -6px 12px 1px #828181, 
          -7px 14px 1px #868585, 
          -8px 16px 1px #8b8a89, 
          -9px 18px 1px #8f8e8d, 
          -10px 20px 1px #949392, 
          -11px 22px 1px #999897, 
          -12px 24px 1px #9e9c9c
      }
      

main {
    margin-top: 100px;
    display:flex;
}

.left-column {  
    flex: 25%;
    padding:30px;
    background-color: var(--grey);
}

.recipe-container {
    background-color: var(--light-white-background);
    border-radius: 45px;
    text-align: center;
    height: fit-content;
    padding: 30px;
    border: 2px solid var(--bubble-border);
    box-shadow: 2px 10px 5px var(--beige);
}

h2, h3{
    background-color: var(--light-white-background);
}

.center-column {
    flex: 50%;
    padding: 30px;
}

.search-bar {
    height: 50px;
    background-color: var(--light-white-background);
    width: 99%;
    border: 2px solid var(--bubble-border);
    border-radius: 45px;
    box-shadow: 0px 10px 5px var(--beige);
}

input[type=text] {
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
    font-family: 'Shadows Into Light', cursive !important;
    letter-spacing: 2px;
}

.search-image {
    height: 30px;
    width: 30px;
    margin-top: -5px;
    margin-right: 35px;
}

.main-card {
    width: 99%;
    padding: 30px;
}

.main-recipe-photo {
    width: 100%;
    border-radius: 45px;
}

.right-column {
    flex: 25%;
    text-align: center;
    padding: 30px;
}

.info-container {
    width: 100%;
    height: 100%;
    border-radius: 45px;
    border: 2px solid var(--bubble-border);
    box-shadow: -2px 10px 5px var(--beige);
}

.mom-photo {
    width: 100%;
    border-radius: 45px;
    }